@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin : 0;
    padding : 0;
    box-sizing :border-box;

  }
  html,body{
    width:100%;
    height:100%;
  }
  @font-face{
    font-family: 'rejoice';
    src: url("./assets/fonts/Rejouice-Headline.ttf");
    font-weight: 100;
  }
  @font-face{
    font-family: 'nb';
    src: url("./assets/fonts/NBInternationalProBoo.ttf");
  }
  .mod-span{
    display: inline-block;
  }
  @layer components {
    .max-container {
      max-width: 1440px;
      margin: 0 auto;
    }
  
    .input {
      @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
    }
  }
  
  @layer utilities {
    .padding {
      @apply sm:px-10 px-3 sm:py-24 py-12;
    }
  
    .padding-x {
      @apply sm:px-10 px-3;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-20 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    }
  
    .info-text {
      @apply font-montserrat text-slate-gray text-lg leading-7;
    }
    .flex-center{
      @apply flex items-center justify-between;
    }
    .z-idx{
      z-index: 9;
    }
  }
  